  <table class="table table-striped recent" style="width: 100%" id="recently_published_table">
  <thead>
  <tr>
    <th style="color:#000"><%= t("hyrax.dashboard.my.heading.title") %></th>
    <th style="color:#000">Agency</th>
    <th style="color:#000">Date Published</th>
  </tr>
  </thead>
  <tbody>
  <%= render partial: 'show_document_list_row', collection: documents, as: :document %>
  </tbody>
</table>
