<% provide :page_title, construct_page_title('Home') %>



<section class="featured-panel device-md">
  <div class="card bg-dark">
    <img class="card-img opacity-10 full-opacity-on-device" src="/bps_01734.jpg" alt="background image">
    <div class="card-img-overlay d-flex">
      <div class="container align-self-center my-2">
        <div class="text-white text-center">
          <h1 class="card-title display-4 font-weight-bold">Government Publications Portal</h1>
          <p style="font-weight:600">The Government Publications Portal holds New York City’s recent agency publications.
            The portal is maintained by the Municipal Library at the New York City Department of Records and Information Services (DORIS)
            as part of the government’s ongoing mission to make government information accessible.</p>
          <div class="maintext"><small>The New York City Charter, Section 1133,
            requires agencies to submit digital copies of all publications to the Library. A list of all required reports is published on this website.
            Should the agencies concerned not submit the report within the required
            time limit, DORIS will issue a request for the report to the agency. Such requests will be published in place of the report until the report is published.</small></div>
        </div>
      </div>
    </div>
  </div>
</section>

<% if can? :deposit, @presenter.solr_document %>
  <section class="bg-light py-5">
    <div class="container">
      <div class="row">
        <div class="col">
          <div style="text-align: center;">
            <% if @presenter.create_many_work_types? %>
              <%= link_to t('hyrax.collection.actions.add_new_work.label'),
                          '#',
                          title: t('hyrax.collection.actions.add_new_work.desc'),
                          data: { behavior: "select-work", target: "#worktypes-to-create", 'create-type' => 'single', add_works_to_collection: @presenter.id },
                          class: 'btn btn-primary deposit-new-work-through-collection' %>
            <% else # simple link to the first work type %>
              <%= link_to 'Submit a Publication',
                          new_polymorphic_path([main_app, @presenter.first_work_type], add_works_to_collection: @presenter.id),
                          class: 'btn btn-primary btn-lg submit-btn', :style=>'background-color: #181A7B;' %>
            <% end %>
          </div>
        </div>
        <!-- .col -->
      </div>
      <!-- .row -->
    </div>
    <!-- .container -->
  </section>

<% end %>


  <!-- Works -->
  <% if @members_count > 0 %>
     <!-- <div class="hyc-blacklight hyc-bl-sort">
        <%#= render 'sort_and_per_page', collection: @presenter %>
      </div>-->

  <section class="py-3">
    <div class="container">
      <div class="row py-2">
        <h3>Recently Published</h3>
      </div>
        <%= render_document_index @member_docs %>
    </div>

  </section>


  <% end # if @members_count > 0 %>
</div>
