<script>
    characterCounter('#title-character-count', 150, $('#nyc_government_publication_title').val().length, 10);
    $('#nyc_government_publication_title').keyup(function () {
        characterCounter('#title-character-count', 150, $(this).val().length, 10);
    });
</script>
<p>Welcome to the Submissions Portal for the Municipal Library at the New York City Department of Records and
  Information Services. The Submissions Portal is a convenient, secure online system for New York City agencies to
  electronically submit their publications to the Government Publications Portal of the Municipal Library.</p>
<p>Complete the information (metadata) in the automated form and upload your document. You will receive confirmation
  that you have successfully uploaded the publication, or a warning if there is any problem with the publication after
  virus scanning. The Municipal Library staff checks that everything is in order and the publication is loaded into the
  Government Documents Portal, where it is accessible and preserved.</p>
<%= f.input :title,
            as: :string,
            required: f.object.required?(key),
            input_html: {class: 'form-control', multiple: false, minlength: 10, maxlength: 150} %>
<p id="title-character-count" class="character-counter">150 characters remaining</p>