<% if f.object.model.class == NycGovernmentPublication %>
  <script>
      characterCounter('#title-character-count', 150, $('#nyc_government_publication_title').val().length, 10);
      $('#nyc_government_publication_title').keyup(function () {
          characterCounter('#title-character-count', 150, $(this).val().length, 10);
      });
  </script>
  <%= f.input :title,
              as: :string,
              required: f.object.required?(key),
              input_html: {class: 'form-control', multiple: false, minlength: 10, maxlength: 150} %>
  <p id="title-character-count" class="character-counter">150 characters remaining</p>
<% else %>
  <%= f.input key, as: :multi_value, input_html: {class: 'form-control'}, required: f.object.required?(key) %>
<% end %>