<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <p>You have logged in to GPP as an agency user.</p>
  <p>Municipal Library staff will have to approve you before you can submit your agency’s publications. We are working on that.</p>
  <p>If you don’t hear from us within three (3) business days, please contact us at the email listed on the Contact Us page.</p>
</body>
</html>
