<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
You have logged in to GPP as an agency user.

Municipal Library staff will have to approve you before you can submit your agency’s publications. We are working on that.

If you don’t hear from us within a week, please contact us at the email listed on the Contact Us page.
</body>
</html>
