<% unless document.collection?%>
<tr>
  <div class="row search-result-wrapper">
    <%= render_document_partials document, blacklight_config.view_config(document_index_view_type).partials, document_counter: document_counter %>
  </div>
</tr>
<% end %>