<% doc_presenter = index_presenter(document) %>

<% field = index_fields(document)["agency_tesim"] %>
<% if should_render_index_field? document, field %>
  <td><%= doc_presenter.field_value field %></td>
<% end %>

<% field = index_fields(document)["date_published_tesim"] %>
<% if should_render_index_field? document, field %>
  <td><%= doc_presenter.field_value field %></td>
<% end %>
