<div class="col-6 mb-1">
  <div id="sortAndPerPage" class="sort-pagination d-md-flex " role="navigation" aria-label="<%= t('blacklight.search.per_page.aria_label')%>">
    <%= render partial: "paginate_compact", object: @response if show_pagination? %>
  </div>
</div>