<!--Overwrite thumbnail template to never show in search results-->
<!--<div class="col-md-2">-->
<!--  <div class="list-thumbnail">dddddddddddddddd-->
    <%#= render_thumbnail_tag document %>
<!--  </div>-->
<!--</div>-->
