<% provide :page_title, construct_page_title('New Mandated Report') %>
<h1>New Mandated Report</h1>

<%= render 'form', required_report: @required_report %>

<%= link_to 'Back', mandated_reports_path %>
