<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
  <p>
    <%= Date.today %>
  </p>
  <p>
    To: <%= @agency.name %>
  </p>
  <p>
    From: Municipal Library Staff
  </p>
  <p>
    The New York City Charter, Chapter 49, Section 1133, requires that agencies submit to the Department of Records and
    Information Services (DORIS) all reports, documents, studies and publications required by local law, executive
    order, or mayoral directive to be published, issued, or transmitted to the City Council or Mayor, within 10 business
    days of their publication. For any report that is not received within 10 business days of the publication date,
    DORIS is required to email the agency to request the report, and to provide the text of that email in place of the
    report in the Government Publications Portal.
  </p>
  <p>
    Consistent with these requirements, DORIS hereby requests the transmission of the report shown below, which DORIS
    has not received as of <%= Date.today %>>. Please submit this report to the Government Publications Portal. If you have
    questions, please contact staff at the Municipal Library at munilib@records.nyc.gov.
  </p>
  <p>
    <b>Required Report Type: </b>
  </p>
  <p>
    <b>Report Description: </b>
  </p>
  <p>
    <b>Reporting Frequency: </b>
  </p>
  <p>
    <b>Report Due Date: </b>
  </p>
  <p>
    <b>Authorizing Resource (Charter and Code): </b>
  </p>
  <p>
    <b>Authorizing Resource (Local Law): </b>
  </p>
  </body>
</html>