<%# [gpp-override] Override to show csv as only importer option %>

<div class='csv_fields'>

<h4>Add Zip File to Import:</h4>
<%# accept a single file upload; data files and bags will need to be added another way %>
<div id='file_upload'>
    <%= fi.input 'file', as: :file, input_html: { accept: 'application/zip' } %><br />
</div>

<br />
</div>