<div class="nycidm-header">
  <div class="upper-header-black">
    <div>
      <span class="upper-header-left">
      <a href="http://www1.nyc.gov/"><img class="small-nyc-logo" alt="NYC.gov logo" src="/nyc_white@x2.png"></a>
      <img class="vert-divide" alt="" src="/upper-header-divider.gif">
        <span class="upper-header-black-title">
          Government Publications Portal
        </span>
      </span>
    </div>
  </div>
</div>