<!DOCTYPE html>
<html>
<head>
  <title>PDF</title>
  <%= wicked_pdf_stylesheet_link_tag "application" -%>
</head>
<body>
<%= wicked_pdf_image_tag 'doris-logo.png' %>
<div class='container'>
  <%= yield %>
</div>
</body>
</html>